# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [195]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from imblearn.over_sampling import RandomOverSampler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [196]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv")
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [197]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [198]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME",])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [199]:
# Create a list of categorical variables 
categorical_variables =  list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [200]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [201]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [202]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)


# Review the DataFrame
encoded_df.head()

c:\Users\jeffr\coding_stuff\condatrill\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [203]:
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [204]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)
# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [205]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [206]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [207]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [208]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [209]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [210]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [211]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [212]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2


# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [213]:
# Create the Sequential model instance
nn = Sequential()

In [214]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [215]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [216]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [217]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_46 (Dense)            (None, 58)                6786

 dense_47 (Dense)            (None, 29)                1711

 dense_48 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [218]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [219]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 649us/step - loss: 43025.3008 - accuracy: 0.4873
Epoch 2/50
804/804 [==============================] - 1s 649us/step - loss: 48019.6133 - accuracy: 0.5047
Epoch 3/50
804/804 [==============================] - 1s 630us/step - loss: 16750.1289 - accuracy: 0.4872
Epoch 4/50
804/804 [==============================] - 1s 645us/step - loss: 16306.9707 - accuracy: 0.5095
Epoch 5/50
804/804 [==============================] - 1s 638us/step - loss: 10796.2246 - accuracy: 0.4960
Epoch 6/50
804/804 [==============================] - 1s 641us/step - loss: 9925.3809 - accuracy: 0.5201
Epoch 7/50
804/804 [==============================] - 1s 631us/step - loss: 2722.2227 - accuracy: 0.5218
Epoch 8/50
804/804 [==============================] - 1s 628us/step - loss: 3130.3989 - accuracy: 0.5087
Epoch 9/50
804/804 [==============================] - 1s 634us/step - loss: 6352.1318 - accuracy: 0.5174
Epoch 10/50
804/804 [==============================] - 1s 632us/step - loss: 12166.2178 - accuracy: 0.5068
Epoch 11/50
804/804 [==============================] - 1s 628us/step - loss: 1805.8230 - accuracy: 0.5012
Epoch 12/50
804/804 [==============================] - 1s 626us/step - loss: 3383.1621 - accuracy: 0.5048
Epoch 13/50
804/804 [==============================] - 1s 631us/step - loss: 10980.3760 - accuracy: 0.5123
Epoch 14/50
804/804 [==============================] - 1s 633us/step - loss: 2232.2607 - accuracy: 0.5205
Epoch 15/50
804/804 [==============================] - 1s 633us/step - loss: 338.5767 - accuracy: 0.5067
Epoch 16/50
804/804 [==============================] - 1s 627us/step - loss: 1746.3538 - accuracy: 0.5114
Epoch 17/50
804/804 [==============================] - 1s 627us/step - loss: 760.3984 - accuracy: 0.5114
Epoch 18/50
804/804 [==============================] - 1s 639us/step - loss: 0.7021 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 1s 634us/step - loss: 0.6597 - accuracy: 0.5470
Epoch 20/50
804/804 [==============================] - 1s 633us/step - loss: 0.6388 - accuracy: 0.6350
Epoch 21/50
804/804 [==============================] - 1s 643us/step - loss: 0.6346 - accuracy: 0.6385
Epoch 22/50
804/804 [==============================] - 1s 652us/step - loss: 0.6292 - accuracy: 0.6532
Epoch 23/50
804/804 [==============================] - 1s 638us/step - loss: 0.6439 - accuracy: 0.6305
Epoch 24/50
804/804 [==============================] - 1s 636us/step - loss: 0.6361 - accuracy: 0.6349
Epoch 25/50
804/804 [==============================] - 1s 641us/step - loss: 0.6291 - accuracy: 0.6543
Epoch 26/50
804/804 [==============================] - 1s 638us/step - loss: 0.6265 - accuracy: 0.6663
Epoch 27/50
804/804 [==============================] - 1s 640us/step - loss: 0.7038 - accuracy: 0.5037
Epoch 28/50
804/804 [==============================] - 1s 630us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 29/50
804/804 [==============================] - 0s 619us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 30/50
804/804 [==============================] - 1s 621us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 31/50
804/804 [==============================] - 1s 628us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 32/50
804/804 [==============================] - 0s 619us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 33/50
804/804 [==============================] - 0s 619us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 34/50
804/804 [==============================] - 0s 618us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 35/50
804/804 [==============================] - 1s 628us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 36/50
804/804 [==============================] - 1s 624us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 37/50
804/804 [==============================] - 0s 616us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 38/50
804/804 [==============================] - 0s 621us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 39/50
804/804 [==============================] - 1s 623us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 40/50
804/804 [==============================] - 1s 641us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 41/50
804/804 [==============================] - 1s 636us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 42/50
804/804 [==============================] - 1s 648us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 43/50
804/804 [==============================] - 1s 641us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 44/50
804/804 [==============================] - 1s 628us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 45/50
804/804 [==============================] - 1s 639us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 46/50
804/804 [==============================] - 1s 647us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 47/50
804/804 [==============================] - 1s 660us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 1s 648us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 49/50
804/804 [==============================] - 1s 638us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 1s 624us/step - loss: 0.6910 - accuracy: 0.5335

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [220]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 183ms/epoch - 683us/step
Loss: 0.6915470957756042, Accuracy: 0.5292128324508667

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [221]:
# Set the model's file path
file_path = Path("../Resources/nn.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [222]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [223]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [224]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [225]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [226]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))# YOUR CODE HERE


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_49 (Dense)            (None, 58)                6786

 dense_50 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [227]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="sgd", metrics=["accuracy"])

In [228]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)

Epoch 1/50
563/563 [==============================] - 1s 895us/step - loss: 0.6289 - accuracy: 0.6840 - val_loss: 0.5907 - val_accuracy: 0.7174
Epoch 2/50
563/563 [==============================] - 0s 773us/step - loss: 0.5793 - accuracy: 0.7160 - val_loss: 0.5724 - val_accuracy: 0.7295
Epoch 3/50
563/563 [==============================] - 0s 776us/step - loss: 0.5687 - accuracy: 0.7198 - val_loss: 0.5694 - val_accuracy: 0.7315
Epoch 4/50
563/563 [==============================] - 0s 785us/step - loss: 0.5643 - accuracy: 0.7203 - val_loss: 0.5661 - val_accuracy: 0.7286
Epoch 5/50
563/563 [==============================] - 0s 776us/step - loss: 0.5617 - accuracy: 0.7230 - val_loss: 0.5651 - val_accuracy: 0.7296
Epoch 6/50
563/563 [==============================] - 0s 778us/step - loss: 0.5597 - accuracy: 0.7235 - val_loss: 0.5624 - val_accuracy: 0.7308
Epoch 7/50
563/563 [==============================] - 0s 797us/step - loss: 0.5580 - accuracy: 0.7247 - val_loss: 0.5610 - val_accuracy: 0.7365
Epoch 8/50
563/563 [==============================] - 0s 786us/step - loss: 0.5569 - accuracy: 0.7250 - val_loss: 0.5606 - val_accuracy: 0.7332
Epoch 9/50
563/563 [==============================] - 0s 781us/step - loss: 0.5556 - accuracy: 0.7250 - val_loss: 0.5605 - val_accuracy: 0.7344
Epoch 10/50
563/563 [==============================] - 0s 791us/step - loss: 0.5548 - accuracy: 0.7262 - val_loss: 0.5590 - val_accuracy: 0.7367
Epoch 11/50
563/563 [==============================] - 0s 804us/step - loss: 0.5541 - accuracy: 0.7274 - val_loss: 0.5595 - val_accuracy: 0.7346
Epoch 12/50
563/563 [==============================] - 0s 796us/step - loss: 0.5536 - accuracy: 0.7273 - val_loss: 0.5598 - val_accuracy: 0.7345
Epoch 13/50
563/563 [==============================] - 0s 833us/step - loss: 0.5525 - accuracy: 0.7284 - val_loss: 0.5581 - val_accuracy: 0.7357
Epoch 14/50
563/563 [==============================] - 0s 845us/step - loss: 0.5519 - accuracy: 0.7287 - val_loss: 0.5593 - val_accuracy: 0.7348
Epoch 15/50
563/563 [==============================] - 0s 783us/step - loss: 0.5515 - accuracy: 0.7271 - val_loss: 0.5568 - val_accuracy: 0.7368
Epoch 16/50
563/563 [==============================] - 0s 796us/step - loss: 0.5508 - accuracy: 0.7271 - val_loss: 0.5582 - val_accuracy: 0.7354
Epoch 17/50
563/563 [==============================] - 0s 806us/step - loss: 0.5503 - accuracy: 0.7270 - val_loss: 0.5574 - val_accuracy: 0.7367
Epoch 18/50
563/563 [==============================] - 0s 803us/step - loss: 0.5499 - accuracy: 0.7283 - val_loss: 0.5583 - val_accuracy: 0.7344
Epoch 19/50
563/563 [==============================] - 0s 800us/step - loss: 0.5493 - accuracy: 0.7277 - val_loss: 0.5582 - val_accuracy: 0.7350
Epoch 20/50
563/563 [==============================] - 0s 801us/step - loss: 0.5489 - accuracy: 0.7284 - val_loss: 0.5580 - val_accuracy: 0.7356
Epoch 21/50
563/563 [==============================] - 0s 797us/step - loss: 0.5486 - accuracy: 0.7280 - val_loss: 0.5584 - val_accuracy: 0.7357
Epoch 22/50
563/563 [==============================] - 0s 787us/step - loss: 0.5485 - accuracy: 0.7286 - val_loss: 0.5581 - val_accuracy: 0.7362
Epoch 23/50
563/563 [==============================] - 0s 802us/step - loss: 0.5480 - accuracy: 0.7298 - val_loss: 0.5564 - val_accuracy: 0.7354
Epoch 24/50
563/563 [==============================] - 0s 795us/step - loss: 0.5475 - accuracy: 0.7289 - val_loss: 0.5555 - val_accuracy: 0.7367
Epoch 25/50
563/563 [==============================] - 0s 795us/step - loss: 0.5473 - accuracy: 0.7286 - val_loss: 0.5589 - val_accuracy: 0.7357
Epoch 26/50
563/563 [==============================] - 0s 781us/step - loss: 0.5469 - accuracy: 0.7285 - val_loss: 0.5560 - val_accuracy: 0.7365
Epoch 27/50
563/563 [==============================] - 0s 779us/step - loss: 0.5466 - accuracy: 0.7288 - val_loss: 0.5569 - val_accuracy: 0.7359
Epoch 28/50
563/563 [==============================] - 0s 802us/step - loss: 0.5464 - accuracy: 0.7290 - val_loss: 0.5582 - val_accuracy: 0.7363
Epoch 29/50
563/563 [==============================] - 0s 823us/step - loss: 0.5461 - accuracy: 0.7290 - val_loss: 0.5577 - val_accuracy: 0.7365
Epoch 30/50
563/563 [==============================] - 0s 804us/step - loss: 0.5460 - accuracy: 0.7300 - val_loss: 0.5581 - val_accuracy: 0.7367
Epoch 31/50
563/563 [==============================] - 0s 867us/step - loss: 0.5459 - accuracy: 0.7298 - val_loss: 0.5572 - val_accuracy: 0.7359
Epoch 32/50
563/563 [==============================] - 0s 850us/step - loss: 0.5456 - accuracy: 0.7305 - val_loss: 0.5545 - val_accuracy: 0.7368
Epoch 33/50
563/563 [==============================] - 0s 818us/step - loss: 0.5456 - accuracy: 0.7299 - val_loss: 0.5567 - val_accuracy: 0.7357
Epoch 34/50
563/563 [==============================] - 0s 799us/step - loss: 0.5450 - accuracy: 0.7297 - val_loss: 0.5579 - val_accuracy: 0.7367
Epoch 35/50
563/563 [==============================] - 0s 791us/step - loss: 0.5451 - accuracy: 0.7295 - val_loss: 0.5572 - val_accuracy: 0.7365
Epoch 36/50
563/563 [==============================] - 0s 801us/step - loss: 0.5450 - accuracy: 0.7295 - val_loss: 0.5549 - val_accuracy: 0.7366
Epoch 37/50
563/563 [==============================] - 0s 796us/step - loss: 0.5447 - accuracy: 0.7301 - val_loss: 0.5577 - val_accuracy: 0.7349
Epoch 38/50
563/563 [==============================] - 0s 782us/step - loss: 0.5441 - accuracy: 0.7303 - val_loss: 0.5587 - val_accuracy: 0.7371
Epoch 39/50
563/563 [==============================] - 0s 787us/step - loss: 0.5442 - accuracy: 0.7308 - val_loss: 0.5571 - val_accuracy: 0.7353
Epoch 40/50
563/563 [==============================] - 0s 776us/step - loss: 0.5445 - accuracy: 0.7303 - val_loss: 0.5571 - val_accuracy: 0.7346
Epoch 41/50
563/563 [==============================] - 0s 786us/step - loss: 0.5444 - accuracy: 0.7317 - val_loss: 0.5571 - val_accuracy: 0.7352
Epoch 42/50
563/563 [==============================] - 0s 794us/step - loss: 0.5438 - accuracy: 0.7305 - val_loss: 0.5568 - val_accuracy: 0.7356
Epoch 43/50
563/563 [==============================] - 0s 785us/step - loss: 0.5440 - accuracy: 0.7303 - val_loss: 0.5564 - val_accuracy: 0.7357
Epoch 44/50
563/563 [==============================] - 0s 781us/step - loss: 0.5439 - accuracy: 0.7301 - val_loss: 0.5566 - val_accuracy: 0.7365
Epoch 45/50
563/563 [==============================] - 0s 768us/step - loss: 0.5435 - accuracy: 0.7304 - val_loss: 0.5585 - val_accuracy: 0.7354
Epoch 46/50
563/563 [==============================] - 0s 789us/step - loss: 0.5433 - accuracy: 0.7314 - val_loss: 0.5582 - val_accuracy: 0.7330
Epoch 47/50
563/563 [==============================] - 0s 795us/step - loss: 0.5432 - accuracy: 0.7313 - val_loss: 0.5568 - val_accuracy: 0.7368
Epoch 48/50
563/563 [==============================] - 0s 788us/step - loss: 0.5433 - accuracy: 0.7310 - val_loss: 0.5584 - val_accuracy: 0.7353
Epoch 49/50
563/563 [==============================] - 0s 777us/step - loss: 0.5433 - accuracy: 0.7315 - val_loss: 0.5569 - val_accuracy: 0.7367
Epoch 50/50
563/563 [==============================] - 0s 772us/step - loss: 0.5431 - accuracy: 0.7318 - val_loss: 0.5581 - val_accuracy: 0.7365

#### Alternative Model 2

In [229]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [230]:
# Define the number of neurons in the output layer
number_output_neurons_A2 =1

In [231]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [232]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

29

In [233]:
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A2

15

In [234]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [235]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="tanh"))
# Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))
# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_51 (Dense)            (None, 58)                6786

 dense_52 (Dense)            (None, 29)                1711

 dense_53 (Dense)            (None, 15)                450

 dense_54 (Dense)            (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [236]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="sgd", metrics=["accuracy"])

In [237]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, validation_split=0.3, epochs=80)

Epoch 1/80
563/563 [==============================] - 1s 959us/step - loss: 0.6029 - accuracy: 0.6917 - val_loss: 0.5637 - val_accuracy: 0.7288
Epoch 2/80
563/563 [==============================] - 0s 838us/step - loss: 0.5689 - accuracy: 0.7217 - val_loss: 0.5534 - val_accuracy: 0.7361
Epoch 3/80
563/563 [==============================] - 0s 848us/step - loss: 0.5621 - accuracy: 0.7245 - val_loss: 0.5495 - val_accuracy: 0.7376
Epoch 4/80
563/563 [==============================] - 0s 844us/step - loss: 0.5580 - accuracy: 0.7249 - val_loss: 0.5475 - val_accuracy: 0.7375
Epoch 5/80
563/563 [==============================] - 0s 847us/step - loss: 0.5556 - accuracy: 0.7262 - val_loss: 0.5453 - val_accuracy: 0.7389
Epoch 6/80
563/563 [==============================] - 0s 839us/step - loss: 0.5538 - accuracy: 0.7268 - val_loss: 0.5439 - val_accuracy: 0.7396
Epoch 7/80
563/563 [==============================] - 0s 833us/step - loss: 0.5523 - accuracy: 0.7273 - val_loss: 0.5471 - val_accuracy: 0.7389
Epoch 8/80
563/563 [==============================] - 0s 846us/step - loss: 0.5514 - accuracy: 0.7284 - val_loss: 0.5436 - val_accuracy: 0.7394
Epoch 9/80
563/563 [==============================] - 0s 843us/step - loss: 0.5501 - accuracy: 0.7286 - val_loss: 0.5454 - val_accuracy: 0.7398
Epoch 10/80
563/563 [==============================] - 0s 835us/step - loss: 0.5496 - accuracy: 0.7284 - val_loss: 0.5434 - val_accuracy: 0.7383
Epoch 11/80
563/563 [==============================] - 0s 844us/step - loss: 0.5486 - accuracy: 0.7290 - val_loss: 0.5443 - val_accuracy: 0.7391
Epoch 12/80
563/563 [==============================] - 0s 831us/step - loss: 0.5479 - accuracy: 0.7290 - val_loss: 0.5424 - val_accuracy: 0.7389
Epoch 13/80
563/563 [==============================] - 0s 841us/step - loss: 0.5473 - accuracy: 0.7297 - val_loss: 0.5451 - val_accuracy: 0.7376
Epoch 14/80
563/563 [==============================] - 0s 837us/step - loss: 0.5469 - accuracy: 0.7294 - val_loss: 0.5448 - val_accuracy: 0.7378
Epoch 15/80
563/563 [==============================] - 0s 849us/step - loss: 0.5463 - accuracy: 0.7296 - val_loss: 0.5429 - val_accuracy: 0.7381
Epoch 16/80
563/563 [==============================] - 0s 844us/step - loss: 0.5457 - accuracy: 0.7289 - val_loss: 0.5452 - val_accuracy: 0.7371
Epoch 17/80
563/563 [==============================] - 0s 831us/step - loss: 0.5455 - accuracy: 0.7296 - val_loss: 0.5421 - val_accuracy: 0.7380
Epoch 18/80
563/563 [==============================] - 0s 845us/step - loss: 0.5447 - accuracy: 0.7294 - val_loss: 0.5442 - val_accuracy: 0.7372
Epoch 19/80
563/563 [==============================] - 0s 839us/step - loss: 0.5445 - accuracy: 0.7306 - val_loss: 0.5422 - val_accuracy: 0.7400
Epoch 20/80
563/563 [==============================] - 0s 839us/step - loss: 0.5444 - accuracy: 0.7301 - val_loss: 0.5422 - val_accuracy: 0.7402
Epoch 21/80
563/563 [==============================] - 0s 836us/step - loss: 0.5438 - accuracy: 0.7313 - val_loss: 0.5434 - val_accuracy: 0.7393
Epoch 22/80
563/563 [==============================] - 0s 839us/step - loss: 0.5434 - accuracy: 0.7316 - val_loss: 0.5424 - val_accuracy: 0.7394
Epoch 23/80
563/563 [==============================] - 0s 826us/step - loss: 0.5433 - accuracy: 0.7319 - val_loss: 0.5436 - val_accuracy: 0.7378
Epoch 24/80
563/563 [==============================] - 0s 832us/step - loss: 0.5429 - accuracy: 0.7325 - val_loss: 0.5444 - val_accuracy: 0.7381
Epoch 25/80
563/563 [==============================] - 0s 834us/step - loss: 0.5425 - accuracy: 0.7324 - val_loss: 0.5422 - val_accuracy: 0.7393
Epoch 26/80
563/563 [==============================] - 0s 833us/step - loss: 0.5424 - accuracy: 0.7321 - val_loss: 0.5425 - val_accuracy: 0.7409
Epoch 27/80
563/563 [==============================] - 0s 831us/step - loss: 0.5418 - accuracy: 0.7332 - val_loss: 0.5428 - val_accuracy: 0.7400
Epoch 28/80
563/563 [==============================] - 0s 833us/step - loss: 0.5418 - accuracy: 0.7325 - val_loss: 0.5434 - val_accuracy: 0.7387
Epoch 29/80
563/563 [==============================] - 0s 835us/step - loss: 0.5415 - accuracy: 0.7325 - val_loss: 0.5430 - val_accuracy: 0.7389
Epoch 30/80
563/563 [==============================] - 0s 833us/step - loss: 0.5412 - accuracy: 0.7338 - val_loss: 0.5437 - val_accuracy: 0.7396
Epoch 31/80
563/563 [==============================] - 0s 836us/step - loss: 0.5410 - accuracy: 0.7341 - val_loss: 0.5434 - val_accuracy: 0.7367
Epoch 32/80
563/563 [==============================] - 0s 832us/step - loss: 0.5408 - accuracy: 0.7330 - val_loss: 0.5425 - val_accuracy: 0.7383
Epoch 33/80
563/563 [==============================] - 0s 828us/step - loss: 0.5405 - accuracy: 0.7332 - val_loss: 0.5449 - val_accuracy: 0.7371
Epoch 34/80
563/563 [==============================] - 0s 833us/step - loss: 0.5405 - accuracy: 0.7342 - val_loss: 0.5449 - val_accuracy: 0.7380
Epoch 35/80
563/563 [==============================] - 0s 832us/step - loss: 0.5402 - accuracy: 0.7333 - val_loss: 0.5429 - val_accuracy: 0.7389
Epoch 36/80
563/563 [==============================] - 0s 837us/step - loss: 0.5401 - accuracy: 0.7338 - val_loss: 0.5457 - val_accuracy: 0.7370
Epoch 37/80
563/563 [==============================] - 0s 832us/step - loss: 0.5401 - accuracy: 0.7343 - val_loss: 0.5447 - val_accuracy: 0.7363
Epoch 38/80
563/563 [==============================] - 0s 847us/step - loss: 0.5395 - accuracy: 0.7348 - val_loss: 0.5444 - val_accuracy: 0.7374
Epoch 39/80
563/563 [==============================] - 0s 828us/step - loss: 0.5396 - accuracy: 0.7340 - val_loss: 0.5453 - val_accuracy: 0.7371
Epoch 40/80
563/563 [==============================] - 0s 835us/step - loss: 0.5393 - accuracy: 0.7341 - val_loss: 0.5442 - val_accuracy: 0.7359
Epoch 41/80
563/563 [==============================] - 0s 818us/step - loss: 0.5393 - accuracy: 0.7346 - val_loss: 0.5446 - val_accuracy: 0.7385
Epoch 42/80
563/563 [==============================] - 0s 835us/step - loss: 0.5389 - accuracy: 0.7348 - val_loss: 0.5453 - val_accuracy: 0.7380
Epoch 43/80
563/563 [==============================] - 0s 860us/step - loss: 0.5388 - accuracy: 0.7346 - val_loss: 0.5450 - val_accuracy: 0.7380
Epoch 44/80
563/563 [==============================] - 0s 864us/step - loss: 0.5389 - accuracy: 0.7360 - val_loss: 0.5450 - val_accuracy: 0.7352
Epoch 45/80
563/563 [==============================] - 0s 877us/step - loss: 0.5384 - accuracy: 0.7359 - val_loss: 0.5466 - val_accuracy: 0.7378
Epoch 46/80
563/563 [==============================] - 0s 880us/step - loss: 0.5385 - accuracy: 0.7364 - val_loss: 0.5479 - val_accuracy: 0.7353
Epoch 47/80
563/563 [==============================] - 0s 850us/step - loss: 0.5384 - accuracy: 0.7358 - val_loss: 0.5454 - val_accuracy: 0.7356
Epoch 48/80
563/563 [==============================] - 0s 864us/step - loss: 0.5381 - accuracy: 0.7340 - val_loss: 0.5453 - val_accuracy: 0.7375
Epoch 49/80
563/563 [==============================] - 0s 867us/step - loss: 0.5381 - accuracy: 0.7348 - val_loss: 0.5464 - val_accuracy: 0.7367
Epoch 50/80
563/563 [==============================] - 0s 859us/step - loss: 0.5377 - accuracy: 0.7345 - val_loss: 0.5468 - val_accuracy: 0.7344
Epoch 51/80
563/563 [==============================] - 0s 858us/step - loss: 0.5377 - accuracy: 0.7359 - val_loss: 0.5444 - val_accuracy: 0.7384
Epoch 52/80
563/563 [==============================] - 0s 852us/step - loss: 0.5376 - accuracy: 0.7358 - val_loss: 0.5463 - val_accuracy: 0.7352
Epoch 53/80
563/563 [==============================] - 0s 856us/step - loss: 0.5375 - accuracy: 0.7365 - val_loss: 0.5477 - val_accuracy: 0.7345
Epoch 54/80
563/563 [==============================] - 0s 879us/step - loss: 0.5375 - accuracy: 0.7359 - val_loss: 0.5466 - val_accuracy: 0.7340
Epoch 55/80
563/563 [==============================] - 0s 855us/step - loss: 0.5374 - accuracy: 0.7351 - val_loss: 0.5462 - val_accuracy: 0.7363
Epoch 56/80
563/563 [==============================] - 0s 871us/step - loss: 0.5371 - accuracy: 0.7360 - val_loss: 0.5473 - val_accuracy: 0.7348
Epoch 57/80
563/563 [==============================] - 0s 859us/step - loss: 0.5373 - accuracy: 0.7363 - val_loss: 0.5458 - val_accuracy: 0.7376
Epoch 58/80
563/563 [==============================] - 0s 867us/step - loss: 0.5370 - accuracy: 0.7365 - val_loss: 0.5464 - val_accuracy: 0.7378
Epoch 59/80
563/563 [==============================] - 0s 845us/step - loss: 0.5370 - accuracy: 0.7361 - val_loss: 0.5466 - val_accuracy: 0.7357
Epoch 60/80
563/563 [==============================] - 0s 856us/step - loss: 0.5367 - accuracy: 0.7360 - val_loss: 0.5492 - val_accuracy: 0.7349
Epoch 61/80
563/563 [==============================] - 0s 847us/step - loss: 0.5368 - accuracy: 0.7362 - val_loss: 0.5460 - val_accuracy: 0.7368
Epoch 62/80
563/563 [==============================] - 0s 866us/step - loss: 0.5364 - accuracy: 0.7369 - val_loss: 0.5460 - val_accuracy: 0.7378
Epoch 63/80
563/563 [==============================] - 0s 849us/step - loss: 0.5363 - accuracy: 0.7374 - val_loss: 0.5464 - val_accuracy: 0.7378
Epoch 64/80
563/563 [==============================] - 0s 857us/step - loss: 0.5360 - accuracy: 0.7373 - val_loss: 0.5464 - val_accuracy: 0.7368
Epoch 65/80
563/563 [==============================] - 0s 855us/step - loss: 0.5364 - accuracy: 0.7375 - val_loss: 0.5482 - val_accuracy: 0.7299
Epoch 66/80
563/563 [==============================] - 0s 850us/step - loss: 0.5362 - accuracy: 0.7364 - val_loss: 0.5461 - val_accuracy: 0.7368
Epoch 67/80
563/563 [==============================] - 0s 844us/step - loss: 0.5358 - accuracy: 0.7363 - val_loss: 0.5481 - val_accuracy: 0.7379
Epoch 68/80
563/563 [==============================] - 0s 856us/step - loss: 0.5361 - accuracy: 0.7361 - val_loss: 0.5484 - val_accuracy: 0.7353
Epoch 69/80
563/563 [==============================] - 0s 848us/step - loss: 0.5356 - accuracy: 0.7371 - val_loss: 0.5467 - val_accuracy: 0.7378
Epoch 70/80
563/563 [==============================] - 0s 845us/step - loss: 0.5358 - accuracy: 0.7370 - val_loss: 0.5475 - val_accuracy: 0.7365
Epoch 71/80
563/563 [==============================] - 0s 864us/step - loss: 0.5359 - accuracy: 0.7371 - val_loss: 0.5483 - val_accuracy: 0.7328
Epoch 72/80
563/563 [==============================] - 0s 849us/step - loss: 0.5353 - accuracy: 0.7368 - val_loss: 0.5498 - val_accuracy: 0.7350
Epoch 73/80
563/563 [==============================] - 0s 841us/step - loss: 0.5355 - accuracy: 0.7370 - val_loss: 0.5471 - val_accuracy: 0.7368
Epoch 74/80
563/563 [==============================] - 0s 834us/step - loss: 0.5355 - accuracy: 0.7364 - val_loss: 0.5476 - val_accuracy: 0.7381
Epoch 75/80
563/563 [==============================] - 0s 849us/step - loss: 0.5356 - accuracy: 0.7378 - val_loss: 0.5484 - val_accuracy: 0.7363
Epoch 76/80
563/563 [==============================] - 0s 864us/step - loss: 0.5351 - accuracy: 0.7384 - val_loss: 0.5476 - val_accuracy: 0.7374
Epoch 77/80
563/563 [==============================] - 1s 896us/step - loss: 0.5353 - accuracy: 0.7373 - val_loss: 0.5475 - val_accuracy: 0.7370
Epoch 78/80
563/563 [==============================] - 0s 861us/step - loss: 0.5351 - accuracy: 0.7372 - val_loss: 0.5501 - val_accuracy: 0.7328
Epoch 79/80
563/563 [==============================] - 0s 856us/step - loss: 0.5353 - accuracy: 0.7381 - val_loss: 0.5500 - val_accuracy: 0.7335
Epoch 80/80
563/563 [==============================] - 0s 862us/step - loss: 0.5350 - accuracy: 0.7374 - val_loss: 0.5482 - val_accuracy: 0.7331

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [238]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 135ms/epoch - 504us/step
Loss: 0.6915470957756042, Accuracy: 0.5292128324508667

In [239]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5579 - accuracy: 0.7307 - 135ms/epoch - 504us/step
Loss: 0.5578604340553284, Accuracy: 0.7307288646697998

In [240]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5531 - accuracy: 0.7296 - 137ms/epoch - 512us/step
Loss: 0.5530917644500732, Accuracy: 0.7295626997947693

### Step 3: Save each of your alternative models as an HDF5 file.

In [241]:
# Set the file path for the first alternative model
file_path = Path("../Resources/nn_A1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [242]:
# Set the file path for the second alternative model
file_path = Path("../Resources/nn_A2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)